{%load static%}
{% load crispy_forms_tags %}
{%load comment_tags%}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale= 1.0"/>
    <meta charset="UTF-8">
    <title>Page title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static 'users/profilestyle.css'%}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px;">
        <h1 class="text-center" style="background:#4267B2;  color: white">Slide</h1>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-home "></i></a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-user-plus"></i></a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link btn" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false"><i class="fa fa-bell "></i><span class="badge">{%live_notify_badge%}</span></a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false"><i class="fa fa-bars "></i></a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
   <div class="post-editor container-fluid ">
  <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <button type="submit"  class="btn btn-success px-4 py-1">Post</button>
    </form>
    </div>

<div class="stream-posts container-fluid">
{%for item in page_obj%}
                    <div class="stream-post">
                        <div class="sp-author ">
                            <a href="#" class="sp-author-avatar"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""></a>
                            <h6 class="sp-author-name"><a href="{% url 'profile' item.user.profile.slug%}">{{item.user.username}}</a></h6>
                             {%if item in user_liked_post%}
                            <a class="btn " id="li{{item.id}}"  style="color:#4267B2;"><i class="fa fa-thumbs-up "></i> {{item.likes.count}}</a>
                            {%else%}
                            <a class="btn " id="li{{item.id}}"><i class="fa fa-thumbs-up "></i> {{item.likes.count}}</a>
                            {%endif%}
                            {% if item|has_comment:request.user == "yes"%}
                            <a class="btn " id="li{{item.id}}" style="color:#4267B2;"><i class="fa fa-comment " ></i> {{item.post_comments.count}}</a>
                            {%else%}
                                <a class="btn " id="li{{item.id}}"><i class="fa fa-comment "></i> {{item.post_comments.count}}</a>
                            {% endif %}
                            </div>
                        <div class="sp-content" onclick="location.href='{% url 'detailed-post' item.user.profile.slug item.id%}'">
                            <div class="sp-info">posted {{item.date_posted | timesince}} ago</div>
                     
                            <p class="sp-paragraph mb-0 text-justify ">{{item.post}}</p>
                            
                        </div>
                        <!-- /.sp-content -->
                        <div>
                        {%if item in user_liked_post%}
                            <button type="button" class="libtn btn btn-outline-primary" id="lk{{item.id}}">unlike</button>
                         {%else%}
                         <button type="button" class="libtn btn btn-outline-primary" id="lk{{item.id}}">like</button>
                          {%endif%}
                          
                            <a href="{% url 'detailed-post' item.user.profile.slug item.id%}" class="btn btn-outline-primary">comment</a>
                            
                        </div>
                    </div>
                    
 {%endfor%} 
 {% if page_obj.has_next %}
                <p class="pagination">
                    <a class="next-page" href="?page={{ page_obj.next_page_number }}">More...</a>
                </p>
            {% endif %}
 </div>     
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      {% for item in friends_suggestion %}
      <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">              
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-4 col-sm-4">
                        <h5><a href="#" class="profile-link">{{item.username}}</a></h5>            <button class="sbtn btn-primary btn pull-left"  id="ad{{item.username}}">Add Friend</button>
                  </div>
                </div>
              </div>
            </div>
    	</div>
	</div>
      {% endfor %}
  </div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab"> 
<!--  {%live_notify_list%}-->
<div class="list-group" id="notification_list">
      <!--{% for notification in  user.notifications.all %}
   <a href="#" class="list-group-item list-group-item-action">
    
     <div class="stream-post">    
     <div class="container-fluid" >
          <div class="row">
                <div class="col-6" style="padding-left:0px;">
                      <h5>{{notification.description}}</h5>
                </div>
                <div class="col-6" style="padding-right:0px;">
                      <p class="text-muted text-right">{{notification.timestamp | timesince}}<p>
                </div>
          </div>
    </div>
                     
                        <div class="sp-content" >                                                
                            <p class="sp-paragraph mb-0 text-justify ">{{notification.action_object.post}}</p>
                            
                        </div>
                    </div>
  </a>
  {% endfor %}-->
</div>
	      <!--		<div>
	      		Message from <b>{{ notification.actor }}</b>
				<button class="dropdown-item" type="button">{{ notification.description }}</button>			
				</div>
				<div class="dropdown-divider"></div>-->
  </div>
  <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
  <div class="list-group">
  <a href="{% url 'profile' user.profile.slug%}" class="list-group-item">Profile</a>

  <a href="{% url 'logout' %}" class="list-group-item">Logout</a>
  
</div>
  </div>
</div>
  <script type="text/javascript">
    $(document).ready(function(){
    jQuery(function ($) {
        var $list = $('.stream-posts');
        $list.jscroll({            
            padding: 100,
            pagingSelector: '.pagination',
            nextSelector: 'a.next-page:last',
            contentSelector: '.stream-post,.pagination'
        });
    });
    $(document).on("click","#messages-tab",function(){
        var elmId = $(this).attr("id");
   //     var elmIdd = elmId.substring(2) ;
   //     alert(elmId);
   $( "#notification_list" ).empty();
        $.ajax(
    {
        type:"GET",
        url: "{% url 'get-all-notifications' %}",
        dataType: 'json',
        success: function(data1) 
        {
       //     var string = "{{user.notifications.all | safe}}";
           // alert("ajax1 completed");
            var notifications= data1;
         for (let item in notifications) {
     //   alert(notifications[item].action_object);
          if (notifications[item].unread) {$( "#notification_list" ).append(
          `<a href="#" class="list-group-item list-group-item-dark"><div class="stream-post"><div class="container-fluid" ><div class="row"><div class="col-6" style="padding-left:0px;"><h5>${notifications[item].description}</h5></div><div class="col-6" style="padding-right:0px;"><p class="text-muted text-right">${notifications[item].timesince_format} ago</p></div></div></div><div class="sp-content" ><p class="sp-paragraph mb-0 text-justify ">${notifications[item].data.rel_obj_content}</p></div></div></a>`          
          );}else {$( "#notification_list" ).append(`<a href="#" class="list-group-item list-group-item-light"><div class="stream-post"><div class="container-fluid" ><div class="row"><div class="col-6" style="padding-left:0px;"><h5>${notifications[item].description}</h5></div><div class="col-6" style="padding-right:0px;"><p class="text-muted text-right">${notifications[item].timesince_format} ago</p></div></div></div><div class="sp-content" ><p class="sp-paragraph mb-0 text-justify ">${notifications[item].data.rel_obj_content}</p></div></div></a>`          
          );
 
}
         }
          $( `#${elmId}`  ).replaceWith(`<a class="nav-link btn" id=${elmId} data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false"><i class="fa fa-bell "></i></a>`);
             $.ajax(
    {
        type:"GET",
        url: "{% url 'mark-notification-as-read' %}",
        success: function(data) 
        {
            var string = "{{user.notifications.all | safe}}";
          //  alert("ajax2 completed");
        }
     })  
        }
     });      
    });
    $(document).on("click",".sbtn",function(){
        var elmId = $(this).attr("id");
        var elmIdd = elmId.substring(2) ;
        alert(elmIdd)
        $.ajax(
    {
        type:"GET",
        url: "{% url 'send-request' %}",
        data:{
                 username: elmIdd,             
        },
        success: function() 
        {
            $( `#${elmId}`  ).replaceWith(`<button class="cbtn btn-outline-danger btn pull-left" id=c3${elmIdd} >Cancel request</button>`)
        }
     })        
    });
    $(document).on("click",".cbtn",function(){
      var elmId = $(this).attr("id");
      var elmIdd = elmId.substring(2) ;
        alert(elmIdd)
        $.ajax(
    {
        type:"GET",
        url: "{% url 'cancel-request' %}",
        data:{
                 username: elmIdd,               
        },
        success: function() 
        {
            $( `#${elmId}`  ).replaceWith(`<button class="sbtn btn-primary btn pull-left" id=ad${elmIdd}>Add Friend</button>`)
        }
     })    
        });
    $(document).on("click",".libtn",function(){
        //alert("elmIdd")
        var elmId = $(this).attr("id");
        var elmIdd = elmId.substring(2) ;
        var like_count = $(`#li${elmIdd}`).text() ;
          
          alert() ;
     //   var elmIddd = elmId.substring(1) ;
        alert(elmId);
        $.ajax(
    {
        type:"GET",
        url: "{% url 'like-post' %}",
        data:{
                 id: elmIdd,             
        },
        success: function(data) 
        {
            if (data == "liked") {
  alert("liked");
  like_count=Number(like_count) + 1;
  $( `#li${elmIdd}`).html(`<i class="fa fa-thumbs-up"></i> ${String(like_count)}`);
  $( `#li${elmIdd}`).css({
                    color: "#4267B2"
                });
   $(`#${elmId}`).text("unlike") ;
   
} else {
  alert("not liked");
  like_count=Number(like_count) - 1 ;
  $( `#li${elmIdd}`).html(`<i class="fa fa-thumbs-up"></i> ${String(like_count)}`);
  $(`#li${elmIdd}`).css({
                    color: "#000000"
                });
    $(`#${elmId}`).text("like") ;
}

        }
    });
        });
    })
        </script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
</body>
</html>
